body {
    background-color: #F0F3F7;
    font-family: 'Urbanist', sans-serif;
}

.nombre {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
    margin: 15px;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover, .div7:hover, .div8:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.div1 h2 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    margin-bottom: 15px;
    color: #FF6584;
    font-family: 'Roboto', sans-serif;
}

.div1 p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #2C3E50;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 3;
    height: 100%;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
}

.div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.div2:hover img {
    transform: scale(1.05);
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 5;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 6;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 7;
    overflow: hidden;
    text-align: center;
}

.div6 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
    overflow: hidden;
    position: relative;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flecha {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.pregunta {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.contactame {
    margin: 15px 0;
}

.div8 {
    grid-column-start: 1;
    grid-row-start: 7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C63FF;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
    color: #FFFFFF;
    height: 8vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.header-right ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header-right ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.header-right ul li a:hover {
    color: #FF6584;
}

#redes img {
    width: 40px;
    height: 40px;
    margin: 5px;
    transition: transform 0.3s ease;
}

#redes img:hover {
    transform: scale(1.2);
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 5;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.div3 h2{
    color: #FF6584;
}

.splide {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.splide__slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.splide__slide img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

.contact-info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.contact-icon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-icon:hover {
    transform: scale(1.2);
}

.contact-email {
    margin: 0;
    font-size: 18px;
}

.contact-email a {
    color: #2C3E50;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-email a:hover {
    color: #6C63FF;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 1s ease-in-out;
    position: absolute;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .nombre {
        font-size: 36px;
    }
    .div1 h2 {
        font-size: 24px;
    }
    .div1 p {
        font-size: 16px;
    }
    .header-right ul li a {
        font-size: 18px;
    }
    .div3, .div1 {
        min-height: 600px;
    }
    .parent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        margin: 0;
    }
    .parent > div {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8 {
        height: auto;
        max-width: 100%;
        box-sizing: border-box;
    }
    .div2 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .slider {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 15px;
        position: relative;
    }
    .slides {
        display: flex;
        width: 100%;
        height: auto;
        transition: transform 1s ease-in-out;
        position: relative;
    }
    .slides img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }
    header {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .header-right ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
    }
}


.gallery {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.thumbnails img:hover {
    transform: scale(1.1);
}

.thumbnails img.active {
    border: 2px solid #FF6584;
    opacity: 1;
}

.thumbnails img:not(.active) {
    opacity: 0.6;
}

